#############################################################
#    Personal files
#############################################################
quick_setup.sh
.vscode
src/CheckFollowBack.py
src/Utils/import_firefox_session.py
**/x_vaaaa
Notes.md

#############################################################
#    Binary files
#############################################################
**/__pycache__

#############################################################
#    Temporary files
#############################################################
IGenv