#############################################################
#    Personal files
#############################################################
quick_setup.sh

#############################################################
#    Binary files
#############################################################
**/__pycache__

#############################################################
#    Temporary files
#############################################################
IGenv