#############################################################
#    Personal files
#############################################################
quick_setup.sh
.vscode
src/CheckFollowBack.py
**/.sessions
**/.session_cookies

#############################################################
#    Binary files
#############################################################
**/__pycache__

#############################################################
#    Temporary files
#############################################################
IGenv